log-list{
    position: relative;
    float: left;
    width: 100%;
    padding-top: 30px;

    ul{
        
        
        list-style: none;
        margin:0;
        padding:0;

        li{
            border-top: 1px solid #eee;

            
            font-family: $font-family-serif;
            
            &.odd{
                
            }

            &.even{
                
            }

            &:last-child{
                
            }

            .timestamp{
                
                span{
                    background-color: #fff;
                    font-size: 11px; 
                    font-weight: bold;
                }
            }

            .log-item{
                margin: 6px 0 18px 0;
                font-size: 11px; 
            }
        }
    }

}

