<div class="content">
    <router-outlet></router-outlet>
</div>

<footer>
    <nav>
        <ul>
            <li [routerLinkActive]="['active']">
                <a routerLink="/status" routerLinkActive="active">Status</a>
            </li>
            <li [routerLinkActive]="['active']">
                <a routerLink="/map" routerLinkActive="active">Karta</a>
            </li>
            <li [routerLinkActive]="['active']">
                <a routerLink="/schedule" routerLinkActive="active">Schema</a>
            </li>
            <li [routerLinkActive]="['active']">
                <a routerLink="/log" routerLinkActive="active">Log</a>
            </li>
        </ul>
    </nav>
</footer>