.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}


.table-third{
    width: 33%;
}

// Input
.full-width{
    width: 100%;
}

// Buttons
.btn{
    border: 1px solid #000;
    border-radius: 3px;
    background: #ccc;
    padding: 5px 5px 5px 5px;
}